body{
    margin: 0;
}
#myBox{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: lightblue;
    font-size: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}